@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Standup</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bulma.min.css" />

    </environment>
    <link rel="stylesheet" href="~/css/bulmaswatch.min.css" />
    <link href="~/fa/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="gradient">
<header>
    <div class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="~/">
            <img src="~/img/logo@0,1x.png" width="32px" />
        </a>
        <a class="navbar-item has-text-white" style="margin-left: -10px;">
            Vonnie
        </a>
    </div>
    </div>
</header>
<div class="container">
    <main role="main" class="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Today.Year - Nomad Enterprises LLC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
