@model IEnumerable<TeamViewModel>

<div class="is-ancestor">
    <div class="is-hidden-desktop">&nbsp;</div>
    <a class="" asp-area="" asp-controller="Team" asp-action="New">
        <div class="tile is-vertical list-item notification is-alternate has-text-centered">Create a Team</div></a>
    @foreach (var team in Model)
    {
        <a href="#">
            <div class="tile is-vertical list-item"><span>@team.Name</span></div></a>
    }
</div>