@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_TwoColumns";
}

@section Sidebar {
    <partial for="@Model.Projects" name="_Partial/ProjectList"/>
}
 
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div> 