@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_TwoColumns";
}
@section Sidebar {
    <partial for="@Model.Teams" name="_Partial/TeamList"/>
}
 
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
</div>
