@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_TwoColumns";
}

@section Sidebar {
    <div>I'm in Privacy!</div>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
