html {
    background-color: #F7F8FE;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif !important;

}
 
.main {
    min-height: 300px;
    padding-top: 20px;
}

.gradient {
    background: #5e72e4;
    background: -moz-linear-gradient(-45deg, #5e72e4 0%, #835fe4 100%);
    background: -webkit-linear-gradient(-45deg, #5e72e4 0%,#835fe4 100%);
    background: linear-gradient(135deg, #5e72e4 0%,#835fe4 100%);
    background-size: 100% 128px;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e72e4', endColorstr='#835fe4',GradientType=1 );

}

.sidebar {
    min-height: 250px; 

}

.list-item {
    background-color: #5e72e4;
    color: white !important;
    margin:10px;
    padding:10px; 
}
 
div.sidebar-app-name {
    margin-top: -55px; 
    margin-left:-10px;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: rgba(255,255,255,0.05) !important;
    background-image: none;
}

.is-alternate {
    background-color: #835fe4 !important;
}

.footer {
    padding:0 !important;
    color:gray;
    font-size: 0.75em
}